.azul {
    color:blue;
    }
    .verde {
    color:green;
    }

    .card{
        background-color: rgb(216, 209, 209);
    }
     label{
        color:rgb(17, 17, 17);
        font-size: 15px;
    }

    .fondo{
        background-color: rgb(93, 177, 247);
    }

    .text{
        color: #fff;
    }

    label{
color: #fff;
    }